<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mauli Yodhas|YPL Team</title>
    <link rel="stylesheet" href="/javascript/script.js">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
  </head>
<body id="main-body">
    <!-- Navbar Section -->
    <section id="navsection">
      <nav class="navbar bg-body-tertiary fixed-top">
          <div class="container-fluid">
            <a class="navbar-brand" href="../"><img id="nav-logo-img" src="https://i.ibb.co/PmFqVBn/YPLlogo-removebg-preview.png" alt="Logo" width="70" height="70" class="d-inline-block align-text-top"></a>
            <button type="button" id="btn-watch-live" class="btn btn-danger"><i class="fa-brands fa-youtube"></i> Watch Live</button>
            <button id="btn-menu-toggle" class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
              <i class="fa-solid fa-bars" style="color: #f6f9fd;"></i>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
              <div class="offcanvas-header">
                <a class="nav-link" href="../"><h5 class="offcanvas-title" id="offcanvasNavbarLabel">YPL-Yellam Premier League</h5></a>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../matches">Matches</a>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link" href="../stats">Stats</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="../point-table">Points Table</a>
                    </li> -->
                    <li class="nav-item">
                      <a class="nav-link" href="../teams">Teams</a>
                    </li>
                      <!-- <li><a class="dropdown-item" href="#">Auction</a></li> -->
                      <li class="nav-item"><a class="nav-link" href="../about">About</a></li>
                      <!-- <li><a class="dropdown-item" href="#">Photos</a></li> -->
                      <li class="nav-item"><a class="nav-link" href="../venue">Venue</a></li>
              </ul>
              </div>
            </div>
          </div>
        </nav>
  </section>
    <!-- Navbar section End -->
  
  <!-- <h5>this section is slider</h5> -->
  <div class="scroll-main">
    <div class="scrolling-wrapper">
      <div class="scroll-card"><a href="../wada"><img src="https://i.ibb.co/YRyN8rk/Wada-Warriors.png" alt="img-1" /></a></div>
      <div class="scroll-card"><a href="../rajmudra"><img src="https://i.ibb.co/h8HJP7T/Rajmudra-royals.png" alt=".."></a></div>
      <div class="scroll-card"><a href="../balaji-star"><img src="https://i.ibb.co/BfKX4Gw/Balaji-stars.png" alt=".."></a></div>
      <div class="scroll-card"><a href="../bn-gavare"><img src="https://i.ibb.co/mcXZSrF/Bn-Gavare.png" alt=".."></a></div>
      <div class="scroll-card"><a href="../laxmiraman"><img src="https://i.ibb.co/mvTSqh2/Laxmiraman-Strikers.png" alt=".."></a></div>
      <div class="scroll-card"><a href="../mauli"><img src="https://i.ibb.co/h2k165f/Mauli-yodhas.jpg" alt=".."></a></div>
      <div class="scroll-card"><a href="../onenonly"><img src="https://i.ibb.co/XtWtp6L/OneNOnly.png" alt=".."></a></div>
      <div class="scroll-card"><a href="../rokdeshwar"><img src="https://i.ibb.co/tZBqX9R/rokdeshwar-dev.png" alt=".."></a></div>
      <div class="scroll-card"><a href="../sadgurusai"><img src="https://i.ibb.co/cr0j7pR/sadgurusai-spart.png" alt=".."></a></div>
      <div class="scroll-card"><a href="../vaishnawi"><img src="https://i.ibb.co/MBMrVcD/vaishnavi-borw.jpg" alt=".."></a></div>
    </div>
  </div>

    <section class="team-details">
      
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://i.ibb.co/h2k165f/Mauli-yodhas.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title">MAULI YODHAS</h3>
              <h5 class="card-text">CAPTAIN : PAWAN NARHARE</h5>
              <h5 class="card-text">OWNER   : MAULI NST</h5>
              <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
            </div>
          </div>
        </div>
      </div>
      
      </section>
      <!-- <h5>this section is Batsman</h5> -->
      <div>
        <!-- <h5>Batsman</h5> -->
      </div>

      <section class="team-players">
        
        <div class="cards-team" >  
        <div class="row row-cols-1 row-cols-md-4 g-4">
          <div class="col">
            <div class="card h-100">
              <img src="https://i.ibb.co/5k0PZGs/zz.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">PAWAN NARHARE</h5>
                <!-- <p class="card-text">Batter</p> -->
              </div>
              
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="https://i.ibb.co/5k0PZGs/zz.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">MAHESH BIRLE</h5>
                <!-- <p class="card-text">Batter</p> -->
              </div>
             
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="https://i.ibb.co/5k0PZGs/zz.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">NAVATH GADDIME</h5>
                <!-- <p class="card-text">Batter</p> -->
              </div>
             
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="https://i.ibb.co/5k0PZGs/zz.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">CHAITANYA NALWADE</h5>
                <!-- <p class="card-text">Batter</p> -->
              </div>
             
            </div>
          
        </div>
      </div>
      </section>
      <section>
        <div class="cards-team">
          <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
              <div class="card h-100">
                <img src="https://i.ibb.co/5k0PZGs/zz.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">MAHESH PATEWAD</h5>
                  <!-- <p class="card-text">Batter</p> -->
                </div>
                
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="https://i.ibb.co/5k0PZGs/zz.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">GANESH NALWADE</h5>
                  <!-- <p class="card-text">Batter</p> -->
                </div>
               
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="https://i.ibb.co/5k0PZGs/zz.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">SHRIKRISHNA SHELKE</h5>
                  <!-- <p class="card-text">Batter</p> -->
                </div>
               
              </div>
            </div>
            <!-- <div class="col">
              <div class="card h-100">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzpHUVX-iKF0EIkwTzULt8kCWF061l3VpgIg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Suryakumar Yadav</h5>
                  <p class="card-text">Batter</p>
                </div>
               
              </div>
            
          </div> -->
        </div>
      </section>
      
      <!-- <h1>this  is the All-Rounder Section</h1> -->

      <div class="cards-team">
        <!-- <h5>All Rounder</h5> -->
      </div>

      <section >
        
        <div class="cards-team" >  
        <div class="row row-cols-1 row-cols-md-4 g-4">
          <div class="col">
            <div class="card h-100">
              <img src="https://i.ibb.co/5k0PZGs/zz.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title" id="rohit-sharma-card">LAXMAN KHALANGRE</h5>
                <!-- <p class="card-text">All-Rounder</p> -->
              </div>
              
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="https://i.ibb.co/5k0PZGs/zz.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">PRASHANT KHANDADE</h5>
                <!-- <p class="card-text">All-Rounder</p> -->
              </div>
             
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="https://i.ibb.co/5k0PZGs/zz.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">BAJRANG GUNALE</h5>
                <!-- <p class="card-text">All-Rounder</p> -->
              </div>
             
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="https://i.ibb.co/5k0PZGs/zz.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">SHUNHAM GANAPURE</h5>
                <!-- <p class="card-text">All-Rounder</p> -->
              </div>
             
            </div>
          
        </div>
      </div>
      </section>
        
        <!-- <h5>this section is Batsman</h5> -->
       
        <section >
          
          <div class="cards-team" >  
          <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
              <div class="card h-100">
                <img src="https://i.ibb.co/5k0PZGs/zz.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">SUMIT MAMADGE</h5>
                  <!-- <p class="card-text">All-Rounder</p> -->
                </div>
                
              </div>
            </div>
            <!-- <div class="col">
              <div class="card h-100">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzpHUVX-iKF0EIkwTzULt8kCWF061l3VpgIg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Suryakumar Yadav</h5>
                  <p class="card-text">Batter</p>
                </div>
               
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzpHUVX-iKF0EIkwTzULt8kCWF061l3VpgIg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Ishan SKishan</h5>
                  <p class="card-text">Batter</p>
                </div>
               
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzpHUVX-iKF0EIkwTzULt8kCWF061l3VpgIg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Suryakumar Yadav</h5>
                  <p class="card-text">Batter</p>
                </div> -->
               
              </div>
            
          </div>
        </div>
        </section>/

        <!-- <h5>this section is Bowler</h5> -->

        <div class="cards-team">
          <!-- <h5>Bolwer</h5> -->
        </div>

        <section >
        
          <div class="cards-team" >  
          <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
              <div class="card h-100">
                <img src="https://i.ibb.co/5k0PZGs/zz.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">JAY REDDY</h5>
                  <!-- <p class="card-text">Bowler</p> -->
                </div>
                
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="https://i.ibb.co/5k0PZGs/zz.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">PRAMOD NARHARE</h5>
                  <!-- <p class="card-text">Bowler</p> -->
                </div>
               
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="https://i.ibb.co/5k0PZGs/zz.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">SHRIPAL SABDE</h5>
                  <!-- <p class="card-text">Bowler</p> -->
                </div>
               
              </div>
            </div>
            <!-- <div class="col">
              <div class="card h-100">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzpHUVX-iKF0EIkwTzULt8kCWF061l3VpgIg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Suryakumar Yadav</h5>
                  <p class="card-text">Bowler</p>
                </div>
               
              </div>
            
          </div> -->
        </div>
        </section>

        <!-- <h5>This is Bowler section</h5> -->

        <!-- <section>
          <div class="cards-team">
            <div class="row row-cols-1 row-cols-md-4 g-4">
              <div class="col">
                <div class="card h-100">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzpHUVX-iKF0EIkwTzULt8kCWF061l3VpgIg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Rohit Sharma</h5>
                    <p class="card-text">Bowler</p>
                  </div>
                  
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzpHUVX-iKF0EIkwTzULt8kCWF061l3VpgIg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Suryakumar Yadav</h5>
                    <p class="card-text">Bowler</p>
                  </div>
                 
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzpHUVX-iKF0EIkwTzULt8kCWF061l3VpgIg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Ishan SKishan</h5>
                    <p class="card-text">Bowler</p>
                  </div>
                 
                </div>
              </div> -->
              <!-- <div class="col">
                <div class="card h-100">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzpHUVX-iKF0EIkwTzULt8kCWF061l3VpgIg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Suryakumar Yadav</h5>
                    <p class="card-text">Bowler</p>
                  </div>
                 
                </div>
              
            </div> -->
          </div>
        </section>

          <!--Footer Section -->
    <section>
     
      
      <footer class="bg-dark text-white py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a class="nav-link" href="../teams">Teams</a></li>
                        <li><a class="nav-link" href="../about">About</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Resources</h5>
                    <ul class="list-unstyled">
                        
                        <li><a class="nav-link" href="../about">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Follow Us</h5>
                    <a href="https://www.facebook.com/yplt10" target="_blank" class="text-white me-3"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/yellam_premier_league" target="_blank" class="text-white me-3"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/@yellam.premier.league" target="_blank" class="text-white me-3"><i class="fab fa-youtube"></i></a>
                </div>
                <p style="text-align: center;">Copyright © YPL 2023 All Rights Reserved.</p>
        <p style="text-align: center;">Site Developed and Maintained By Webflexi Technologies</p>
            </div>
        </div>
    </footer>

    </section>
      

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>